<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src=""></script>
    {% load static %}
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css'>
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/style.css' %}">
    <title>Instapic</title>
</head>
<body class="light">
    <header>
        <div>
            <a href="/">Instapic</a>
        </div>
        <div>
            <form action="#">
                <input type="text" placeholder="search" autocomplete="off" autocapitalize="off">
                <button>OoO</button>
            </form>
        </div>
        <div>
            <img src="#" alt="profile pic">
        </div>
    </header>

    <nav>
        <div class="nav-layout">
            <div class="nav-header">
                <span style="text-transform: uppercase;font-size: 15px;letter-spacing: 3px;font-weight: bold;">Instapic</span>
            </div>

            <div class="nav-content">
                <nav class="menu">
                    <ul>
                        <li class="menu-item">
                            <a href="#">
                                <span class="menu-icon"><i class="ri-book-2-fill"></i></span>
                                <span class="menu-title">Home</span>
                            </a>
                        </li>

                        <li class="menu-item">
                            <a href="#">
                                <span class="menu-icon"><i class="ri-book-2-fill"></i></span>
                                <span class="menu-title">Posts</span>
                            </a>
                        </li>

                        <li class="menu-item">
                            <a href="#">
                                <span class="menu-icon"><i class="ri-book-2-fill"></i></span>
                                <span class="menu-title">Profile</span>
                            </a>
                        </li>

                        <li class="menu-item">
                            <a href="#">
                                <span class="menu-icon"><i class="ri-book-2-fill"></i></span>
                                <span class="menu-title">Likes</span>
                            </a>
                        </li>

                        <li class="menu-item">
                            <a href="#">
                                <span class="menu-icon"><i class="ri-book-2-fill"></i></span>
                                <span class="menu-title">Save</span>
                            </a>
                        </li>

                        <li class="menu-item sub-menu">
                            <a href="#">
                                <span class="menu-icon"><i class="ri-brush-3-fill"></i></span>
                                <span class="menu-title">Theme</span>
                            </a>
                            <div class="sub-menu-list">
                                <ul>
                                    <li class="menu-item">
                                        <a href="#"><span class="menu-title">Light</span></a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="#"><span class="menu-title">Dark</span></a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="menu-item">
                            <a href="#">
                                <span class="menu-icon"><i class="ri-book-2-fill"></i></span>
                                <span class="menu-title">Sign out</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="nav-footer">
                <span>footer</span>
            </div>
        </div>
    </nav>

    <main>
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>